<!DOCTYPE html>
<html>
<head>
	<title>Primeira aplicação com NodeJS, Express e MySQL</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Olá Mundo.</h1>
</body>
</html>